@{
    ViewData["Title"] = "Home Page";
}

<body>
    <header class="d-flex align-items-center justify-content-between p-3 border-bottom">
        <a href="@Url.Action("Manage", "Rest")" class="btn btn-primary">Get More Info</a>

        <button class="btn btn-primary" id="modal-btn" data-bs-toggle="modal" data-bs-target="#tableModal">Connection Bitfinex</button>
    </header>
    <main class="container py-4">
        <div id="mainTableContainer"></div>
    </main>

    <div class="modal fade" id="tableModal" tabindex="-1" aria-labelledby="tableModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="tableModalLabel">Select the options you need</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="tableForm">
                        <div class="mb-3">
                            <label for="operationType" class="form-label">Operation selection</label>
                            <select class="form-select" id="operationType" required>
                                <option value="trades">Trades</option>
                                <option value="candles">Candles</option>
                            </select>
                        </div>

                        <div id="dynamicFields"></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" form="tableForm" id="subscribe" class="btn btn-success">Subscribe</button>
                    <button type="submit" form="tableForm" id="unsubscribe" class="btn btn-danger">Unsubscribe</button>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    <script src="~/js/index.js" asp-append-version="true"></script>
}