@{
    ViewData["Title"] = "Home Page";
}

<body>
    <header class="d-flex align-items-center justify-content-between p-3 border-bottom">
        <div class="text-center mb-4">
            <a href="@Url.Action("Manage", "Rest")" class="btn btn-primary">Get More Info</a>
        </div>
    </header>
    <main class="container py-4">
    </main>
</body>